html,
body {
  width: 100%;
  height: 100%;
}

.board-wrapper {
    position: absolute;
    left: 260px;
    right: 0;
    top: 180px;
    bottom: 0;
}

.board-wrapperUp {
    position: absolute;
    left: 0;
    right: 0;
    top: 180px;
    bottom: 0;
}

.board-main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    transition: margin .1s ease-in;
}

.board-canvas {
    position: relative;
    flex-grow: 1;
}

#board {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.u-fancy-scrollbar {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}


.taskAll{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-grow: 1;
}


.listApP {
    background-color: #dfe3e6;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}

.list-cardsApP {
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
}
  
 .list-wrapper-ApP {
      width: 272px;
      margin: 0 4px;
      height: 100%;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      white-space: nowrap;
  }

  .list-headerApP {
    flex: 0 0 auto;
    /* padding: 10px 8px 8px; */
    position: relative;
    min-height: 20px;
}
.list-headerApP-target {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.list-headerApP.is-menu-shown, .list-header.is-subscribe-shown {
    /* padding-right: 36px; */
}

  .u-clearfix:after {
    clear: both;
    content: "";
    display: table;
}










.list-wrapper {
    width: 300px;
    margin: 0 4px;
    /* height: 100%; */
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}


.list-btn {
    width: 100%;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.card2 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    border: 1px solid #ccc;
    transition: 0.3s;
    border-radius: 1px;
    text-align: center;
    background-color: #009688;
    padding: 0 5px;
    float: left;
    width: 300px;
}

.card3 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    border: 1px solid coral ;
    transition: 0.3s;
    border-radius: 1px;
    text-align: center;
    background-color: khaki ;
    padding: 0 5px;
    float: left;
    width: 200px;
}
.FrameAll {
    /*border: 30px solid rgba(255,0,0,0.5);*/

    width: 100%;
    height: 100%;

    top: 200px;
    left: 240px;
    right: 0px;
    bottom: 0px;

    position: absolute;
    cursor: pointer;


    background-color:rgba(255,0,0,0.5);

}

.FrameTop {
    /*border: 30px solid rgba(255,0,0,0.5);*/

    width: 0px;
    height: 300px;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    position: absolute;
    cursor: pointer;


    background-color: khaki;

}

.FrameLeft {
    /*border: 30px solid rgba(255,0,0,0.5);*/

    width: 330px;
    /* height: 100%; */

    top: 50px;
    left: 0;

    position: absolute;
    cursor: pointer;


    /* background-color: rgba(255,255,255,0.5); */

}

.FrameCenter {
    /*border: 30px solid rgba(255,0,0,0.5);*/

    width: 330px;
    /* height: 100%; */

    top: 50px;
    left: 330px;
    right: 0;
    bottom: 0;

    position: absolute;
    cursor: pointer;

    /* background-color: rgba(255, 255, 255, 0.5); */

}

.FrameRight {
    /*border: 30px solid rgba(255,0,0,0.5);*/

    width: 330px;
    /* height: 200%; */

    top: 50px;
    left: 660px;

    position: absolute;
    cursor: pointer;


    /* background-color: rgba(255, 255, 255, 0.5); */

}



/* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

img {
    border-radius: 5px 5px 0 0;
}

.container2 {
    padding: 10px;
}
.card5{
    text-align: right;
width:100%;
height: 49px;
background-color: rgb(131, 214, 235)
}
