.list-wrapper {
    width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
.card2 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    border: 1px solid #ccc;
    transition: 0.3s;
    border-radius: 1px;
    text-align: center;

    padding: 0 5px;
    float: left;
    width: 250px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container2 {
    padding: 15px;
}
